*{
dark-primary-color:    #D32F2F; 
default-primary-color: #F44336; 
light-primary-color:   #FFCDD2; 
text-primary-color:    #FFFFFF; 
accent-color:          #795548; 
primary-text-color:    #212121; 
secondary-text-color:  #757575; 
divider-color:         #BDBDBD; 

}

.root{
    -fx-background-color: accent-color;
}


.tab{
    -fx-pref-width : 200;
    -fx-pref-height : 250;
    -fx-background-color: dark-primary-color;
}

.tab-label{
    -fx-text-color: primary-text-color;
    -fx-text-alignment: left;
    -fx-font-size: 20;
    -fx-rotate: 90;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
/*
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 *//*
}*/
/*
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
/*}
/*
.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

*/


