.root {
    -dark                        : #141452;
    -standard                    : #00796B;
    -bright                      : #f9f4f4;
    -text-color                  : #FFFEFE;
    -fx-background               : #f3f3f3;
    -fx-base                     : #f9f4f4;
    -fx-font-family              : "Roboto Light";
    -fx-font-size                : 16px;
    -fx-font-weight              : lighter;
    -fx-selection-bar            : -standard;
    -fx-selection-bar-non-focused: derive(-standard, 20%);
    -slova                        :#512DA8;
    -tab-pozadina                 :#003366; 
}
/*
.label{
    -fx-font-family              : "Roboto Light";
   -fx-font-size                : 18px;*
}
*/
.button{
    -fx-text-fill        : white;
    -fx-inner-border     : derive(-bright, 10%);
    -fx-body-color       : #e7d3d3;
    -fx-background-color : #003366;
    -fx-border-radius    : 10;
    -fx-background-insets: 0,0,0,1 0 0 0;
    -fx-padding          : ‎10 15 10 15;
    -fx-font-family      : "Roboto Light";
    -fx-font-size        : 18px;
    -fx-font-weight      : bold;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 2, 0, -2, 2);
}
.button:pressed {
    -fx-body-color  : #00796B;
}
.button:disabled {
    -fx-body-color: #633636;
}
.button .text {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 0, 1);
}

.check-box > .box {
    -fx-background-radius: 0;
    -fx-background-color : -bright, -fx-background;
    -fx-background-insets: 0, 2;
    -fx-pref-width       : 21;
    -fx-pref-height      : 21;
}
.check-box:focused > .box {
    -fx-background-insets: 0, 2;
}
.check-box > .box > .mark {
    -fx-mark-highlight-color: -bright;
    -fx-mark-color          : -bright;
    -fx-scale-shape         : false;
    -fx-shape               : "M 4.023 10.8633 L 4.0259 10.9843 L 11.9863 2.9926 L 10.1048 -0.014 L 4.0049 7.9774 L 1.3589 5.9741 L -0.0884 8.0153 L 4.023 10.8633 Z";
    -fx-pref-width          : 12px;
    -fx-pref-height         : 11px;
}
.check-box:selected .mark {
    -fx-background-color: -bright;
}

.borders{
    -fx-border-color : rgba(255, 255, 255, .80);
    -fx-border-style : dotted;
    -fx-border-width : 1;
    -fx-border-insets: -2;
}

.tab{

    -fx-pref-width : 150;
    -fx-pref-height : 200;   
    -fx-fill: -tab-pozadina;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
}
.tab-label{
    -fx-text-alignment: left;
    -fx-font-size: 20;
    -fx-rotate: 90;
    -fx-background-color:  -tab-pozadina;
    -fx-fill:  -tab-pozadina;
    -fx-text-wrap: break-word;
    -fx-word-wrap: break-word;
}
.tab-pane{
    -fx-background-color: -slova;
    -fx-text-fill: -slova;
}

.tab-header-background{
    -fx-background-color:  -tab-pozadina;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
}
.tab:selected
{
    -fx-background-color:  -tab-pozadina;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 10 0;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;

}

.tab:hover {
    -fx-background-color: -tab-pozadina;
}

.tab:cell-selection{
    -fx-border-width: 0 0 10 0;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
}

.text-field{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box{
    -fx-background-color: #009688;
    -fx-text-fill: black;
    -fx-border-color: white;
}

.combo-box:select{
    -fx-background-color: #f9f4f4;
    -fx-text-fill: black;
}
.combo-box:pressed{
    -fx-background-color: #f9f4f4;
    -fx-text-fill: black;
}

.combo-box .cell{
    -fx-background-color: #f9f4f4;
    -fx-text-fill: black;
}